$font-primary:'Raleway', sans-serif;
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: $font-primary;
}

#container-app{
  display: block;
  width: 800px;
  height: 100vh;
  margin: auto;
  background-color: antiquewhite;
  margin-top: 5%;
}

