$font-primary:'Raleway', sans-serif;
@mixin flex-center {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: $font-primary;
  background-color: #fff;
}

#container-app{
  display: block;
  width: 800px;
  height: 100vh;
  margin: auto;
}