$font-Bold: 'Montserrat';
@mixin flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#header-container{
  width: 100%;
  height:30%;
  margin-top: 5%;
  margin-bottom: 5%;
  opacity: 0;
  @include flex-center-column();
  .header-title,.header-content{
    margin: 0;
    margin-bottom: 1%;
  }
  .header-title{
    position: relative;
    font-size: 4.50em;
    font-family: $font-Bold;
    margin-top: 0.5em;
  }
  .header-content{
    font-size: 1.50em;
    font-weight: 300;
  }
}


